<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <sidebar>
                <auto_open>0</auto_open>
                <auto_open_timeout>3</auto_open_timeout>
                <scroll_top>0</scroll_top>
            </sidebar>
        </checkout>
    </default>
</config>
